html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", sans-serif !important;
}

body {
  background: url("../images/stole.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.logo {
  line-height: 40px;
  float: left;
  margin: 1.2em 0 0 2.2em;
  font-weight: bolder;
  color: #fff;
  text-shadow: 1px 1px #000000;

}

.social-media {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.social-media ul li{
  list-style: none;
  color: #fff;
  padding-top: 20px;
  text-shadow: 1px 1px #000000;

}

.side-strip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -4em;
  transform: rotate(90deg);
  color: #fff;
  letter-spacing: 4px;
  text-shadow: 1px 1px #000000;

}

.red{
  color: red;
}
.row{
  padding: 2.6em 2.6em 2em 2.6em;
  background: #000;
  opacity: 0.5;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0%;
}

.overlay h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 12px;
}
















