html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", sans-serif !important;
}

body {
  background: url("../images/fuglsang.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.logo {
  line-height: 40px;
  float: left;
  margin: 1.2em 0 0 2.2em;
  font-weight: bolder;
  color: #fff;
}

.social-media {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.social-media ul li{
  list-style: none;
  color: #fff;
  padding-top: 20px;
}

.side-strip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -4em;
  transform: rotate(90deg);
  color: #fff;
  letter-spacing: 4px;
}

.header{
  position: absolute;
  top: 38%;
  left: 46%;
  transform: translate(-50% -50%);

}


.header h1{
  color: #fff;
  font-weight: bolder;
}

.header p{
  color: #fff;
  font-weight: lighter;
}

.header button{
  margin-top: 12px;
  border: none;
  padding: 16px 40px;
  background: #fff;
  color: #000;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 12px;
}

















