html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", sans-serif !important;
}

body {
  background: url("../images/hoved.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.logo {
  float: left;
  margin: 1.2em 0 0 2.2em;
  width: 200px;
}

.social-media {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.social-media ul li{
  list-style: none;
  color: #fff;
  padding-top: 20px;
  text-shadow: 1px 1px #000000;

}

.side-strip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -4em;
  transform: rotate(90deg);
  color: #fff;
  letter-spacing: 4px;
  text-shadow: 1px 1px #000000;

}

.header{
  position: absolute;
  top: 38%;
  left: 46%;
  transform: translate(-50% -50%);

}


.header h1{
  color: #fff;
  font-weight: bolder;
  text-shadow: 1px 1px #000000;
}

.header p{
  color: #fff;
  font-weight: lighter;
  text-shadow: 1px 1px #000000;

}

.header button{
  margin-top: 12px;
  border: none;
  padding: 16px 40px;
  background: #fff;
  color: #000;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 12px;
}

.bottom-bar {
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.red{
  color: red;
}
.row{
  padding: 2.6em 2.6em 2em 2.6em;
  background: #000;
  opacity: 0.5;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.bottom-bar h6{
  font-weight: bolder;
  text-transform: uppercase;

}

.bottom-bar p{
  font-size: 14px;
  font-weight: lighter;
  text-shadow: 1px 1px #000000;

}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0%;
}

.overlay h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 12px;
}
















