$queriedVariables: 50%;



@import "colors";
@mixin flexCenter($justify: center){
  display: flex;
  justify-content: $justify;
}


body{
  margin: 0;
  box-sizing: border-box;
  font-family: "Agency FB";
  text-align: center;
}

nav {
  @include flexCenter;
  background-color: $primary;
  width: 100%;

  .container {
    @include flexCenter(space-around);
    width: 100%;
    font-size: 28px;
    padding: 1%;
    .navLinks{
      text-decoration: none;
      color: $secondary;
    }
  }
}

.graph_container {
  @include flexCenter;

  .Graph_wrapper {
    margin-top: 5%;
    border: $box;
    width: 80%;
    height: 80%;
  }
}
.product_wrapper{
  @extend .graph_container;

  .product_container{
    margin-top: 5%;
    border: $box;
    width: 80%;
    padding: 3%;
    .product{
      h2{
        @extend .graph_container;
      }
      p{
        @include flexCenter;
        font-size: 12px;
      }
      .product_pic{
        @include flexCenter;;
        margin-bottom: 5%;
      }
      h3{
        @extend .graph_container;
      }

      .price_wrapper{
        @extend .graph_container;

        .btn{
          background-color: $primary;
          padding: 5px 10px;
          margin: 0 10px;
          border-radius: 25%;
        }
      }
    }
  }
}

@media screen and (min-width: 786px) {

  .graph_container{
    width: 50%;
    margin-left: 25%;
  }
  h2{
    font-size: 300%;
  }
  p{
    font-size: 22px !important;
  }
}
